.receipt {
  background-color: #2b2eb8;
  border: 1px solid black;
  box-shadow: 0 1px 1px;
  margin: -8rem 53rem auto;
  padding: 2rem;
  width: 32rem;
}

.merchant-name {
  font-size: 26px;
  font-weight: bold;
}

.grid-data {
  align-items: end;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1rem;
  margin-top: 2rem;
}

.calculations {
  border-top: 1px solid hsl(0, 0%, 50%);
  padding-top: 1rem;
}

.item-title,
.item-price,
.calc-title {
  margin-top: 1rem;
}

.item-title {
  font-size: 20px;
  grid-column: 1;
  color: white;
  text-decoration: underline;
}

.item-description {
  grid-column: 1;
  font-weight: bold;
  margin-top: 0.5rem;
}

.item-part {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  grid-column: 2;
  justify-self: end;
}

.calc-title {
  grid-column: 1;
}

.calc-amount {
  font-family: monospace;
  font-size: 2rem;
  grid-column: 2;
  justify-self: end;
}

.total {
  font-size: 2rem;
  font-weight: bold;
}

.subtle {
  color: hsl(0, 20%, 99%);
  font-size: small;
}

.footer {
  border-top: 1px solid hsl(0, 0%, 98%);
  margin-top: 2rem;
  padding-top: 2rem;
}

// .receipt h2,
// .receipt div {
//   border: 1px solid magenta;
// }
