/**
  Default Markup
**/

.container1 {
  max-width: 900px;
  margin: 0 auto;
}

/**
    Component
  **/

label {

  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  border: 0.5px solid grey;

  margin: 10px;
  padding: 00px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #380382;
}
