
  /* Create two equal columns that floats next to each other */
  .column {
    height: 101px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }